rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /restaurants/{rid} {
      allow read: if true;
      allow create, delete: if isSuperAdmin();
      allow update: if isSuperAdmin() || (request.auth != null && isOwner(rid));

      match /categories/{cid} {
        allow read: if true;
        allow write: if isSuperAdmin()
          || (request.auth != null && isOwner(rid));
      }

      match /products/{pid} {
        allow read: if true;
        // Autoriser la transaction de commande à décrémenter le stock
        allow update: if request.auth == null
          || isSuperAdmin()
          || (request.auth != null && isOwner(rid));
        allow create, delete: if isSuperAdmin()
          || (request.auth != null && isOwner(rid));
      }

      match /orders/{oid} {
        allow read: if isSuperAdmin()
          || (request.auth != null && isOwner(rid));
        allow create: if true;
        allow update: if isSuperAdmin()
          || (request.auth != null && isOwner(rid));
        allow delete: if false;
      }
    }

    match /users/{uid} {
      allow read: if request.auth != null
        && (request.auth.uid == uid || isSuperAdmin());
      allow write: if isSuperAdmin();
    }

    function isOwner(rid) {
      return exists(/databases/$(database)/documents/users/$(request.auth.uid))
        && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.restaurantId == rid;
    }

    function isSuperAdmin() {
      return request.auth != null
        && exists(/databases/$(database)/documents/users/$(request.auth.uid))
        && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "superadmin";
    }
  }
}
